<div ng-include="'src/components/translate/languageBar.html'"></div>
<div ng-controller="SellersController">
	<div id="header">
  		<h2>Söluaðilar</h2>
  	</div>

  <div id="right">
  		<div class="ModalButton">
		<!-- Trigger the modal with a button --> 
		<!-- Code from http://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
		<button type="button" class="btn btn-default" ng-click="addSellerModal()" data-toggle="modal" data-target="#myModal">Bæta við seljanda</button>
		</div>
	</div>

	<div id="section">

	<div id="nav">
		<div class="SellerName" translate="sellers.Name">
		</div>
		<div class="SellerCategory" translate="sellers.Category">
		</div>	
	</div>

		<ul class="Sellers">
			<li ng-repeat="seller in sellerInfo">
				<a href ng-click="enterSeller(seller.id)" ng-href="#/seller/{{seller.id}}"> {{seller.name}} </a>
			</li>
		</ul>

		<ul class="Category">
			<li ng-repeat="seller in sellerInfo">
				<a href ng-click="enterCategory()"> {{seller.category}} </a>
			</li>
		</ul>
	</div>
 </div>