<div class="modal-header">
            <h3 class="modal-title" translate="productDlg.Title"></h3>
        </div>

        <div class="modal-body">
            <form>
                <div>
                    <label translate="productDlg.Name"></label>
                    <input type="text" ng-model="productInfo.name">
                </div>
                <div>
                    <label translate="productDlg.Price"></label>
                    <input type="text" ng-model="productInfo.price">
                </div>
                <div>
                    <label translate="productDlg.ImageUrl"></label>
                    <input type="text" ng-model="productInfo.imagePath">
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="onOk(productInfo)" translate="productDlg.OkButton"></button>
            <button class="btn btn-danger" type="button" ng-click="onCancel()" translate="productDlg.CancelButton"></button>
        </div>