<div ng-include="'src/components/translate/languageBar.html'"></div>
	<div id="header">
		<div class="SellerPhoto" translate="sellerdetails.Photo">
		</div>
		<div class="SellerName" translate="sellerdetails.Name">
		</div>
			{{seller.name}}
			<img ng-src="{{seller.imagePath}}"/>
		<div class="SellerCategory" translate="sellerdetails.Category">
		</div>
	</div>

	<div id="right">
  		<div class="ModalButton">
		<!-- Trigger the modal with a button --> 
		<!-- Code from http://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
		<button type="button" class="btn btn-default" ng-click="addSellerModal()" data-toggle="modal" data-target="#myModal" translate = "sellerdetails.AddProduct">Bæta við vöru</button>
		</div>

		<button type="button" class="btn btn-primary" ng-click="back()" translate="sellerdetails.Back">Til baka</button>

	</div>
	
	<div id="section">
		<div class="AllProducts" translate="sellerdetails.AllProducts">
		</div>
		<div class="TopTen" translate="sellerdetails.TopTen">
		</div>
	</div>
 </div>