
.Sellers {
  margin: 0;
  padding-left: 0;
  padding-right: 9%;
  display: inline;
  float: left;
  list-style-type: none;
}
.Category {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
.ModalButton {
  font-size: 18px;
  border: none;
  color: white;
  float: right;
}
#header {
  float: left;
}
#nav {
  width: 100%;
}
.SellerName {
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: inline;
}
.SellerCategory {
  font-size: 18px;
  margin: 0;
  padding-left: 15%;
  display: inline;
}
#right {
  padding-right: 50%;
  padding-top: 5%;
}
#section {
  width: 100%;
  float: left;
}
